/*COLORS:
//Header background - #FFDBAA
//button - #805215
//Header Text - #553100
//Main background - #D4A76A*/

body {
    margin: 0;
    font-family: sans-serif;
    width: 100vw;
  }
  
  header {
    background-color: #FFDBAA;
    color: #553100;
    width: 100%;
    border-bottom: 1px solid black;
    height: 15vh;
    display: flex;
    justify-content: space-around;
  }
  
  main {
    background-color: #D4A76A;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 85vh;
  }
  
  section {
    background-color: white;
    box-shadow: 0 0 5px black;
    margin-top: 5vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .inline-section {
    width: 25vw;
  }
  
  .stretch-section {
    width: 95vw;
  }
  
  .section-header {
    display: flex;
    align-self: center;
  }
  
  .section-button {
    display: flex;
    align-self: center;
    border: 1px solid black;
    width: 95%;
  }
  
  button {
    background-color: #805215;
    font-weight: bold;
    color: white;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    padding: 10px;
    margin: 10px;
  }